{% extends 'base/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<section class="aboutus">
    <div class="about-bg">
        <div class="l">
            <div class="imgage">
                <img src="{%static 'img/ish.jpg' %}" alt="">
            </div>
            <div class="text1">
                <h3>Who Are We</h3>
                <div>
                    <p class="text">
                        We are just a bunch of youngsters trying to revive the beauty of art. <b>"Art Knows No
                            Bound"</b> We wish to reach your desire to enchance, to meet your artistic expectations.
                        <b>The Painting Muse"</b>" let it be your comfort zone. Let it be a new experiece. We as a team
                        are providing best services that anyone could wish for. Save your time and money investing on us
                        and investing on yourself.
                        Let this art reach you just like it did to us. We thrive to provide u with best support and easy
                        navigation to your artistic desires.
                    </p>
                </div>
                <div class="contact-body">
                    <div class="contact-info">
                        <div>
                            <p>
                                Phone No.<i class="fa fa-mobile" aria-hidden="true"></i>:
                                9741808411
                            </p>
                        </div>
                        <div>
                            <p>
                                Email <i class="fa fa-envelope-o" aria-hidden="true"></i>: unxaun@gmail.com
                            </p>
                        </div>
                        <div>
                            <p>
                                Address<i class="fa fa-map-marker" aria-hidden="true"></i>: Srijananagar-1, Bhaktapur
                            </p>
                        </div>
                        <div>
                            <p>
                                Opening Hours<i class="fa fa-clock-o" aria-hidden="true"></i>: Sunday - Friday (9:00AM
                                to 5:00PM)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="services">
            <h2> Our Services </h2>
            <div class="our">
                <div class="bo">
                    <div class="bi">
                        <h4>High Quality</h4>
                    </div>
                    <p>Our paintings are selected and preseved with precision and care guranteeing the best quality
                        products.Trying or products will never be a regret for you. The artwork is selected from
                        renowned artists so there is no worry for you regarding scams.
                        Waiting for your order inline.
                    </p>
                </div>

                <div class="bo">
                    <div class="bi">
                        <h4>Shipping and Delivery</h4>
                    </div>
                    <p> The artworks is shipped and delivered with utmost care to ensure it arrives in perfect
                        condition. We provide free shipping and delivery services making it more accessible and with
                        fast delivery services.

                    </p>
                </div>
                <div class="bo">
                    <div class="bi">
                        <h4>Avialbity and Flexibility</h4>
                    </div>
                    <p> Our online service is all time available and secure. You can place your orders safely.
                        We are flexible alwyas trying to meet your desires so feel free to feedback us. Visit our
                        physical store anytime.
                        Reach us via our socialmedias or emails
                    </p>
                </div>
            </div>
        </div>
        </div>
        

</section>

{% endblock %}