{% extends 'base/base.html' %}

{% load static %}
{% block content%}
<section class="home">
    <div class="boxh">
        <img class="t" src="{% static 'img/violet.jpg' %}" alt="front">
        <div class="con flex">
            <div>
                <h2>THE PAINTING MUSE</h2>
                <p>
                    STEP INSIDE WHERE SECRETS ARE PAINTED AND DREAM TAKES ITS FORM
                    <br>
                    IN THE SHADES OF EVERGREEN
                </p>
            </div>
        </div>
    </div>
    <div class="contai">
        <div class="topic">
            <h1>Latest</h1>
        </div>
        <div class="boxx">
            <div class="box-con">
                {% for pro in products %}
                <div class="b product_data">
                    {% csrf_token %}
                    <input type="hidden" class="prod_uid" value="{{ pro.uid }}">
                    <input type="hidden" class="qty-input" value="1">

                    <div class="image">
                        <a href="{% url 'product_detail' slug=pro.slug %}">
                            <img src="{{ pro.image.url }}" alt="{{ pro.name }}">
                        </a>
                        <div class="wishlist-overlay">
                            <a href="javascript:void(0);" class="updatewishlist" style="text-decoration: none;">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="content">
                        <h3>{{ pro.name }}</h3>
                        <p>${{ pro.sell_price }}</p>
                    </div>
                    <button type="button" class="button addToCartbtn">Add to Cart <i class="fa fa-shopping-cart"
                            aria-hidden="true"></i></button>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="topic">
            <h1>Popular This Week</h1>
        </div>
        <div class="boxx">
            <div class="box-con">
                {% for pro in products %}
                <div class="b product_data">
                    {% csrf_token %}
                    <input type="hidden" class="prod_uid" value="{{ pro.uid }}">
                    <input type="hidden" class="qty-input" value="1">

                    <div class="image">
                        <a href="{% url 'product_detail' slug=pro.slug %}">
                            <img src="{{ pro.image.url }}" alt="{{ pro.name }}">
                        </a>
                        <div class="wishlist-overlay">
                            <a href="javascript:void(0);" class="updatewishlist" style="text-decoration: none;">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="content">
                        <h3>{{ pro.name }}</h3>
                        <p>${{ pro.sell_price }}</p>
                    </div>
                    <button type="button" class="button addToCartbtn">Add to Cart <i class="fa fa-shopping-cart"
                            aria-hidden="true"></i></button>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="sh">
            <a href="{% url 'shop'%}"> View more items here ></a>
        </div>
    </div>
    </div>


</section>

{% endblock %}